@media (max-width: 1280px) {
    .container{
        padding: 10px;
    }
}

@media (max-width: 768px){
    body{
        background: var(--primary-soft) url(../image/bg-mobile.svg) center center no-repeat;
        background-size: cover;
        height: 50vh;
    }

    .container{
        max-width: 570px;
        padding: 10px 30px;
    }

    .hero{
        flex-direction: column;
        text-align: center;
    } 

    .hero img{
       max-width: 100%;
    }

    .hero .info button{
        padding: 15px 80px;
    }

    .social{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 20px;
    }
}

@media (max-width: 425px){
    .logo{
        width: 180px;    
    }

    .hero .info h1{
        font-size: 29px;
    }
}